{% extends "admin/base.html" %}
{% block head %}
  <title>Trang Chủ</title>
{% endblock %}
{% block body %}
        <!-- Hero Start -->
        <div class="container-fluid py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-md-12 col-lg-7 text-center">
                        <h4 class="mb-3 text-secondary">Hệ Thống Nhận Diện AI</h4>
                        <h1 class="mb-5 display-3 text-primary">Nhanh Chóng Phát Hiện Trái Cây Hư Hỏng</h1>
                        <div class="button-container">
                            <button  type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 rounded-pill ">
                                <a href="{{url_for('nhanDien.nhandien')}}" class="text-white">Nhận Diện</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active rounded">
                                    <img src="../static/img/hero-img-3.jpg" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                                </div>
                                <div class="carousel-item rounded">
                                    <img src="../static/img/hero-img-4.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->

        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite ">
            <div class="container py-5">
                <div class="tab-class text-center">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start">
                            <h1>Thông Tin Trái Cây </h1>
                        </div>

                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">
                                        {% for row in traicay %}
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="rounded position-relative fruite-item">
                                                <div class="fruite-img">
                                                    <img src="{{ url_for('static', filename='img/' + row.2 if row.2 and row.2 != 'None' else 'img/apple.jpg') }}" class="img-fluid w-100 rounded-top" alt="">
                                                </div>
                                                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                    <h4>{{ row.1 }}</h4>
                                                    <p>{{ row.3 }}</p>
                                                    <div class="d-flex justify-content-center">
                                                        <a href="{{ url_for('chiTietLoai.chitiet', timkiem=row.1) }}" class="btn border border-secondary rounded-pill px-4 text-primary">Chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fruits Shop End-->

{% endblock %}
