<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <title>FreshCheck AI - Đặt lại mật khẩu</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(rgba(214, 247, 223, 0.7), rgba(214, 247, 223, 0.7));
        }
    </style>
</head>

<body class="hold-transition login-page">
    <div class="box">
      <div class="card">
          <div class="logo">
              <img src="{{ url_for('static', filename='images/anh.png') }}" alt="FreshCheck AI Logo">
              <h4 class="text-center">Đặt lại mật khẩu</h4>
            </div>

            <div class="register-box-body">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('reset_password') }}" method="post">
                <input type="hidden" name="email" value="{{ email }}">

                <div class="mb-3">
                    <label>Mật khẩu mới:</label>
                    <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu mới" required>
                </div>

                <div class="mb-3">
                    <label>Nhập lại mật khẩu:</label>
                    <input type="password" name="confirm_password" class="form-control" placeholder="Nhập lại mật khẩu" required>
                </div>

                <button type="submit" class="btn btn-primary w-100" style="color:white">Đặt lại mật khẩu</button>
            </form>
        </div>
        </div>
    </div>
    </div>
</body>

</html>

