{% extends "base.html" %}
{% block head %}
    <title>Thông tin trái cây</title>
{% endblock %}

{% block body %}
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Thông Tin Trái Cây</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Danh Mục</a></li>
                <li class="breadcrumb-item active text-white">Thông Tin Trái Cây</li>
            </ol>
        </div>
       <!-- Fruits Shop Start-->
        <div class="container-fluid fruite">
            <div class="container py-3">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4 mb-4">
                            <div class="col-xl-3"></div>
                            <div class="col-6">
                                <form method="GET" action="{{ url_for('traiCay.traicay') }}" class="input-group w-100 mx-auto d-flex">
                                    <input type="search" name="timkiem" class="form-control p-3" placeholder="Nhập từ khóa tìm kiếm..." value="{{ search_query }}">
                                    <button type="submit" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="row g-4 justify-content-right">
                                    {% for row in traicay %}
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="{{ url_for('static', filename='img/' + row.2 if row.2 and row.2 != 'None' else 'img/apple.jpg') }}" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4>{{ row.1 }}</h4>
                                                <p>Mã trái cây: {{ row.0 }}</p>
                                                <p>Ghi chú: {{ row.3 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fruits Shop End-->
{% endblock %}